<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <title></title>
  </head>
  <body ng-app="randomWords">
<!-- Begin Body -->
<!-- Begin Header -->
<header>
  <h1>I Have So Much To Say</h1>
</header>
<!-- End Header -->
<!-- Begin Main Content -->
<div id="main-stage" ng-controller="mainCtrl">
<div id="button-style">
  <button type="button" name="button" ng-click="randomWords()">Random Words</button>

  <button type="button" name="button" ng-click="wordsWithDecorations()">Words with Decorations</button>

  <button type="button" name="button" ng-click="randomPhrases()">More Random Words</button>

  <button type="button" name="button" ng-click="phrasesWithDecorations()">More Words with Decorations</button>

</div>

<div>
  <p class="{{wiz.style}}" ng-repeat="wiz in wizBabble track by $index">{{wiz.value}}</p>
</div>

</div>
<!-- End Main Content -->
<!-- End Body -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- <script src="scripts/script.js"></script> -->
  </body>
</html>
